@import "~src/assets/styles/theme";

mat-sidenav-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  mat-sidenav {
    width: 200px;
    mat-panel-title {
      display: flex;
      align-items: center;
      mat-icon {
        padding-right: 7px;
      }
    }
    mat-nav-list {
      padding-top: 0;
      .active-link {
        color: $accent;
      }
    }
  }
  mat-sidenav-content {
    display: flex;
    flex-direction: column;
    main {
      flex: 1;
    }
  }
}
