<mat-sidenav-container>
    <mat-sidenav
        #sidenav
        class="sidenav"
    >
        <mat-accordion>
            <mat-expansion-panel *ngFor="let link of links">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        <mat-icon matListIcon>{{link.icon}}</mat-icon>
                        {{ link.title | translate}}
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <mat-nav-list>
                    <a
                        mat-list-item
                        *ngFor="let navigationItem of link.navigationItems"
                        [routerLink]="navigationItem.uri"
                        (click)="sidenav.close()"
                        routerLinkActive="active-link"
                    >
                        <mat-icon matListIcon>{{navigationItem.icon}}</mat-icon>
                        {{ navigationItem.display | translate}}
                    </a>
                </mat-nav-list>
            </mat-expansion-panel>
        </mat-accordion>
    </mat-sidenav>

    <mat-sidenav-content>
        <header>
            <mat-toolbar color="primary">
                <button
                    mat-icon-button
                    (click)="sidenav.open()"
                >
                    <mat-icon>menu</mat-icon>
                </button>
                <span>Phide</span>
            </mat-toolbar>
        </header>
        <main>
            <ng-content></ng-content>
        </main>
        <footer>footer</footer>
    </mat-sidenav-content>
</mat-sidenav-container>
