<mat-sidenav-container>
    <mat-sidenav #sidenav>
        <mat-nav-list>
            <a
                mat-list-item
                [routerLink]="link.uri"
                *ngFor="let link of links"
                (click)="sidenav.close()"
            >
                <mat-icon matListIcon>{{link.icon}}</mat-icon>
                {{ link.display }}
            </a>
        </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
        <header>
            <mat-toolbar>
                <button
                    mat-icon-button
                    (click)="sidenav.open()"
                >
                    <mat-icon>menu</mat-icon>
                </button>
                <span>Phide</span>
            </mat-toolbar>
        </header>
        <main>
            <ng-content></ng-content>
        </main>
        <footer>footer</footer>
    </mat-sidenav-content>
</mat-sidenav-container>
