<mat-accordion>
    <mat-expansion-panel *ngFor="let idea of ideas$ | async">
        <mat-expansion-panel-header>
            <mat-panel-title>{{idea.name | translate}}</mat-panel-title>
            <mat-panel-description>idea.description</mat-panel-description>
        </mat-expansion-panel-header>
        <div class="grid">
            <ng-container *ngFor="let dimensionPercentagePair of idea.dimensions">
                <div class="name">
                    {{dimensionPercentagePair.dimension.name | translate}}
                </div>
                <div class="from">
                    {{dimensionPercentagePair.dimension.from | translate}}
                </div>
                <div class="slider">
                    <mat-slider
                        disabled
                        [value]="dimensionPercentagePair.percentage"
                    ></mat-slider>
                </div>
                <div class="to">
                    {{dimensionPercentagePair.dimension.to | translate}}
                </div>
            </ng-container>
        </div>
    </mat-expansion-panel>
</mat-accordion>
