.grid {
  display: grid;
  align-items: center;
  grid-template-columns: 10% auto 30% 130px 30%;
  .name {
    grid-column-start: 1;
  }
  .from {
    grid-column-start: 3;
    text-align: right;
  }
  .slider {
    grid-column-start: 4;
    justify-self: center;
  }
  .to {
    grid-column-start: 5;
  }
}
